@{
    ViewData["Title"] = "About Us";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="/css/AboutUs.css"/>
</head>
<body>

    <div>
        <h1>@ViewData["Title"]</h1>
        <br/>
   

   
    </div>
    <div class="card m-2">
  <div class="row g-0">
    <div class="col-md-4">
    <img src="/images/khumalo.jpg" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">James Khumalo</h4>
        <br/>
         <p class="card-text">Founded by visionary entrepreneur James Khumalo, KhumaloCraft Emporium is a passion project that aims to promote
            and support artisans by providing a platform for them to showcase their creations to a global audience.</p>
      
    </div>
    </div>
  </div>
</div>
    <br />
    <br />
    <br/>

    <h2>--------------------Featured Artists--------------------</h2>

    <br/>
    

    <div class="card m-2">
        <div class="row g-0">
    <!--Profile 1-->
    <div class="col-md-4 mt-4">
        <div class="card profile-card-5">
            <div class="card-img-block">
                <img class="card-img-top" src="/images/profile1.jpg" alt="Card image cap">
            </div>
            <div class="card-body pt-0">
                <h5 class="card-title">Florence Nkosi</h5>
                        <p class="card-text">Skilled in weaving baskets using traditional techniques passed down through generations.
                            They source natural materials such as grasses and straw to create beautifully intricate
                            and durable baskets that are both functional and decorative.</p>

            </div>
        </div>
                <p class="mt-3 w-100 float-left text-center"><a href="/MyWork" class="btn btn-primary">View Craftwork</a></p>
    </div>

            <!--Profile 2-->
            <div class="col-md-4 mt-4">
                <div class="card profile-card-5">
                    <div class="card-img-block">
                        <img class="card-img-top" src="~/images/profile2.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body pt-0">
                        <h5 class="card-title">Mandy Dawson</h5>
                        <p class="card-text">Specializes in creating unique and intricate brooches using a combination 
                            of metals, gemstones, and enamel. Their designs are inspired by nature, architecture, and traditional German folklore,
                            resulting in one-of-a-kind pieces that make a statement and add a touch of elegance to any outfit.</p>

                    </div>
                </div>
                <p class="mt-3 w-100 float-left text-center"><a href="/MyWork" class="btn btn-primary">View Craftwork</a></p>
            </div>

    <!--Profile 3-->
    
    <div class="col-md-4 mt-4">
        <div class="card profile-card-5">
            <div class="card-img-block">
                <img class="card-img-top" src="/images/profile3.jpg" alt="Card image cap">
            </div>
            <div class="card-body pt-0">
                        <h5 class="card-title">Lucy Smith</h5>
                        <p class="card-text">Known for creating stunning beaded phone covers that blend traditional
                            Native American beading techniques with modern technology. Using a variety of colorful beads and patterns,
                            they design custom-made phone covers that are not only stylish but also help protect devices from damage. 
                           Each piece is a work of art that showcases their skill and creativity.</p>

            </div>
        </div>
                <p class="mt-3 w-100 float-left text-center"><a href="/MyWork" class="btn btn-primary">View Craftwork</a></p>
    </div>
    </div>
    </div>
   
    <br />
    <br />
    

    <div class="card m-2">
        <div class="row g-0">
           
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title">Our Vision</h4>
                    <br />
                    <p class="card-text">James's vision is to create a space where artisans 
                        can share their craftwork and connect with customers who appreciate the value of handmade, artisanal products.</p>
               </div>
            </div>
                  <div class="col-md-4">
                <img src="/images/pottery.jpg"/>
            </div>

        </div>
    </div>



    <br/>
    <br/>


    <div class="card m-2">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/images/paperArt.jpg"/>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title">Our Mission</h4>
                    <br />
                    <p class="card-text">With a mission to celebrate and preserve traditional craftsmanship while embracing modern technology,
                        KhumaloCraft Emporium is dedicated to promoting sustainable and ethical practices in the craft industry.
                        Our platform features a curated selection of talented artisans who bring their unique skills and creativity to our community.</p>
                 
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />


</body>
</html>