@{
    ViewData["Title"] = "Home Page";
}



    <link rel="stylesheet" href="/css/Index.css" />
<body>
    <div class="container">
        <div class="video">
            <video autoplay muted loop id="myVideo">
                <source src="~/images/khumaloVideo.mp4" type="video/mp4">
            </video>
        </div>
        <div class="text">
            <h2 class="display-4">Khumalo Craft Emporium</h2>

            <br/>
            <p>
                Welcome to KhumaloCraft Emporium, a global e-commerce platform dedicated to showcasing
                handcrafted products from artisans around the world. Our platform is designed
                to connect talented artisans with a discerning audience who appreciate the beauty
                and craftsmanship of unique, handmade products. With a focus on scalability, accessibility, and user-friendliness,
                KhumaloCraft Emporium offers a secure and enjoyable shopping experience for customers worldwide.
            </p>
            <a href="/Home/AboutUs" class="btn btn-primary">Learn More</a>
        </div>
    </div>
    <br/>
    <br/>

    <h1>--------------------Featured Product--------------------</h1>
    <br />
    <br />
    <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/metalButterfly.jpg" alt="metal butterfly">
                    <div class="card-body">
                        <h4 class="card-title">Butterfly Brooch </h4>
                    <p class="card-text">German hand crafted metal butterfly</p>
                        <p class="card-text">Price: R75</p>
                    <a href="/MyWork" class="btn btn-primary">View Produt</a>
                    </div>
                </div>
            </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/images/beadPhone.jpg" alt="Beaded Phone Case">
                <div class="card-body">
                    <h4 class="card-title">Beaded Phone Cover </h4>
                    <p class="card-text">Beaded design phone coverd</p>
                    <p class="card-text">Price: R150</p>
                    <a href="/MyWork" class="btn btn-primary">View Produt</a>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/images/ghanaBasket2.jpg" alt="Woven Basket">
                <div class="card-body">
                    <h4 class="card-title">Multi-coloured woven basket </h4>
                    <p class="card-text">Ghana's traditional woven basket</p>
                    <p class="card-text">Price: R300</p>
                    <a href="/MyWork" class="btn btn-primary">View Produt</a>
                </div>
            </div>
        </div>

    </div>


</body>
 

  
