@{
    ViewData["Title"] = "Privacy Policy";
}



<html>

<head>

    <link rel="stylesheet" href="/css/Privacy.css"></>
</head>
<body>

    <div class="text-center">

        <h1>@ViewData["Title"]</h1>

        <p>
            We do not share your personal information with third parties,
            except in the narrow circumstances described in the Privacy Policy,
            such as emergencies or in response to valid legal process.
        </p>

    </div>
</body>
</html>